@font-face {
    font-family: 'Roboto Mono';
    src: url(https://fonts.google.com/specimen/Roboto+Mono);
}

body {
    font-family: 'Roboto Mono', sans-serif;
    box-sizing: content-box;
    display: flex;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}


h1 {
    font-family: 'Roboto Mono', sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 2%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 5%;
    width: auto;
}

#form {
    display: flex;
    background-color: rgb(255, 255, 255, 0.3);
    flex-direction: column;
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin: 10px;
    padding: 5%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 8px 8px 8px 8px rgb(0 0 0 / 20%);
}

.textBox {}

.codes {}

.textArea {}

.typeRadio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#codeButton {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 10px 20px 10px 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid white;
    background-color: rgb(255, 255, 255, 0.3);
    color: white;
    text-align: center;
}


@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Background cr:
Manuel Pinto
https://manuelpinto.in */